<h3>Create Present</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="name">Person:</label>
      <mat-form-field>
        <select matNativeControl id="person" required [(ngModel)]="present.person" name="person">
          <option></option>
          <option *ngFor="let person of persons | async">{{person.firstName}} {{person.lastName}}</option>
        </select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="name">Gift</label>
      <input type="text" class="form-control" id="gift" required [(ngModel)]="present.gift" name="gift" #gift="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && gift.invalid }" required>
      <div *ngIf="f.submitted && gift.invalid" class="invalid-feedback">
        <div *ngIf="gift.errors.required">Gift is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Event:</label>
      <mat-form-field>
        <select matNativeControl id="feteevent" required [(ngModel)]="present.feteevent" name="feteevent">
          <option></option>
          <option *ngFor="let event of events | async">{{event.eventName}}</option>
        </select>
      </mat-form-field>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>