<h3>Update Event</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Event Name</label>
      <input type="text" class="form-control" id="eventName" required [(ngModel)]="event.eventName" name="eventName">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>