<h2>Present Details</h2>

<hr />
<div *ngIf="present">
  <div>
    <label><b>Person (whom): </b></label> {{present.person}}
  </div>
  <div>
    <label><b>Gift: </b></label> {{present.gift}}
  </div>
  <div>
    <label><b>For this event: </b></label> {{present.feteevent}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Present List</button><br>