<div *ngIf="isDataAvailable">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Birthdays within 1 month</h4>
        </div>
        <div class="panel-body">
            <table class="mat-table table table-striped">
                <thead>
                    <p style="white-space: pre;"></p>
                    <tr class="mat-header-row">
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of persons | async | slice: lowValue : highValue">
                        <td>{{person.firstName}} {{person.lastName}}</td>
                        <td>{{person.birthday | date: "MMM dd, yyyy"}}</td>
                        <td>{{person.emailAddress}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5]" [pageSize]="5" [length]="(persons | async)?.length"
            (page)="nextPage($event)">
        </mat-paginator>
    </div>
</div>