<div *ngIf="isDataAvailable">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Person List</h2>
    </div>
    <div class="panel-body">
      <table class="mat-table table table-striped">
        <thead>
        <button (click)="reloadPage()" class="btn btn-info" style="margin-left: 10px">Reload the List</button>
          <p style="white-space: pre;"></p>
          <tr class="mat-header-row">
            <th>Name</th>
            <th>Birthday</th>
            <th>Relation</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons | async | slice: lowValue : highValue">
            <td>{{person.firstName}} {{person.lastName}}</td>
            <td>{{person.birthday | date: "MMM dd, yyyy"}}</td>
            <td>{{person.relation}}</td>
            <td><button (click)="deletePerson(person.id)" class="btn btn-danger">Delete</button>
              <button (click)="personDetails(person.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              <button (click)="updatePerson(person.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5]" [pageSize]="5" [length]="(persons | async)?.length"
      (page)="nextPage($event)">
    </mat-paginator>
    <span>All Rights Reserved 2020 @Edit</span>
  </div>
</div>