<h3>Update Present</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Person</label>
      <form [formGroup]="personSuitsForm" (ngSubmit)="onSubmit()">
        <select formControlName="name" id="person" required [(ngModel)]="present.person" name="person">
          <option>Choose Person</option>
          <option *ngFor="let person of persons | async">{{person.firstName}} {{person.lastName}}</option>
        </select>
      </form>
    </div>

    <div class="form-group">
      <label for="name">Gift</label>
      <input type="text" class="form-control" id="gift" required [(ngModel)]="present.gift" name="gift">
    </div>

    <div class="form-group">
      <label for="name">Event</label>
      <form [formGroup]="eventSuitsForm" (ngSubmit)="onSubmit()">

        <select formControlName="name" id="feteevent" required [(ngModel)]="present.feteevent" name="feteevent">
          <option>Choose Event</option>
          <option *ngFor="let event of events | async">{{event.eventName}}</option>
        </select>
      </form>
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>