/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 30px;
    background-color: lightgrey;
    text-align: center;
    color: white;
}

.bg {
	
  /* The image used */
  background-image: url('./images/christmas.png');
  /* Full height */
  height: 200%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
