<h3>Update Person</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="person.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="person.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Birthday</label>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" id="birthday" required
          [(ngModel)]="person.birthday" name="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="name">Email Address</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="person.emailAddress"
        name="emailAddress">
    </div>


    <div class="form-group">
      <label for="name">Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="person.address" name="address">
    </div>

    <div class="form-group">
      <label for="name">Relation</label>
      <form [formGroup]="relationSuitsForm" (ngSubmit)="onSubmit()">

        <select formControlName="name" id="relation" required [(ngModel)]="person.relation" name="relation">
          <option>Choose Relation</option>
          <option *ngFor="let suit of relationSuits">{{suit}}</option>
        </select>
      </form>
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>