<div *ngIf="isDataAvailable">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Present List</h2>
    </div>
    <div class="panel-body">
      <table class="mat-table table table-striped">
        <thead>
        <button (click)="reloadPage()" class="btn btn-info" style="margin-left: 10px">Reload the List</button>
          <p style="white-space: pre;"></p>
          <tr class="mat-header-row">
            <th>Person</th>
            <th>Gift</th>
            <th>Event</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let present of presents | async | slice: lowValue : highValue">
            <td>{{present.person}}</td>
            <td>{{present.gift}}</td>
            <td>{{present.feteevent}}</td>
            <td><button (click)="deletePresent(present.id)" class="btn btn-danger">Delete</button>
              <button (click)="presentDetails(present.id)" class="btn btn-info"
                style="margin-left: 10px">Details</button>
              <button (click)="updatePresent(present.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngFor="let item of pageOfItems">{{item.name.gift}}</div>

    </div>

    <mat-paginator [pageSizeOptions]="[5]" [pageSize]="5" [length]="(presents | async)?.length"
      (page)="nextPage($event)">
    </mat-paginator>

    <span>All Rights Reserved 2020 @Edit</span>

  </div>
</div>