<h2>Person Details</h2>

<hr />
<div *ngIf="person">
  <div>
    <label><b>First Name: </b></label> {{person.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{person.lastName}}
  </div>
  <div>
    <label><b>Birthday: </b></label> {{person.birthday | date: "MMM dd, yyyy"}}
  </div>
  <div>
    <label><b>Email Address: </b></label> {{person.emailAddress}}
  </div>
  <div>
    <label><b>Address: </b></label> {{person.address}}
  </div>
  <div>
    <label><b>Relation: </b></label> {{person.relation}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Person List</button><br>