<h3>Create Event</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="name">Event Name</label>
      <input type="text" class="form-control" id="eventName" required [(ngModel)]="event.eventName" name="eventName"
        #eventName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventName.invalid }" required>
      <div *ngIf="f.submitted && eventName.invalid" class="invalid-feedback">
        <div *ngIf="eventName.errors.required">Event name is required</div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>