<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="presents" class="nav-link" routerLinkActive="active">Present List</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active">Add Present</a>
    </li>
    <li class="nav-item">
      <a routerLink="persons" class="nav-link" routerLinkActive="active">Person List</a>
    </li>
    <li class="nav-item">
      <a routerLink="addperson" class="nav-link" routerLinkActive="active">Add Person</a>
    </li>
    <li class="nav-item">
      <a routerLink="events" class="nav-link" routerLinkActive="active">Edit Events</a>
    </li>
  </ul>
</nav>
<div class="bg">
  <div class="container">

    <br>
    <h1 style="text-align: center; text-shadow: 2px 2px white; color:red"><b>{{title}}</b></h1>
    <h4 style="text-align: center; text-shadow: 2px 2px #FF0000; color: white">{{todayDate | date}}</h4>
    <button mat-button (click)="openDialog()" class="btn btn-danger">
      Birthdays within 1 month
    </button>
    <hr>

    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

</div>