<div *ngIf="isDataAvailable">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Event List</h2>
    </div>
    <p style="white-space: pre;"></p>
    <div class="panel-body">
      <table class="mat-table table table-striped">
        <thead>
          <button (click)="addEvent()" class="btn btn-info" style="margin-left: 10px">Add new Event</button>
          <button (click)="reloadPage()" class="btn btn-info" style="margin-left: 10px">Reload the List</button>
          <p style="white-space: pre;"></p>
          <tr class="mat-header-row">
            <th>Event</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vent of events | async | slice: lowValue : highValue">
            <td>{{vent.eventName}}</td>
            <td><button (click)="deleteEvent(vent.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateEvent(vent.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5]" [pageSize]="5" [length]="(events | async)?.length" (page)="nextPage($event)">
    </mat-paginator>
    <span>All Rights Reserved 2020 @Edit</span>
  </div>
</div>