<h3>Create Person</h3>

<div [hidden]="submitted" style="width: 400px;">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="person.firstName" name="firstName"
        #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
      <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
        <div *ngIf="firstName.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="person.lastName" name="lastName"
        #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required>
      <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
        <div *ngIf="lastName.errors.required">Last Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Birthday</label>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" id="birthday" required
          [(ngModel)]="person.birthday" name="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="name">Email Address</label>
      <span matTooltip="abc@de.com" matTooltipPosition="right"> (Show example)</span>
      <input type="text" class="form-control" id="emailAddress" required [(ngModel)]="person.emailAddress"
        name="emailAddress" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email must be a valid email address</div>
      </div>
      

    </div>
    
    
    <div class="form-group">
      <label for="name">Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="person.address" name="address"
        #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required>
      <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
        <div *ngIf="address.errors.required">Address is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Relation:</label>
      <mat-form-field>
        <select matNativeControl id="relation" required [(ngModel)]="person.relation" name="relation">
          <option></option>
          <option *ngFor="let suit of relationSuits">{{suit}}</option>
        </select>
      </mat-form-field>
    </div>
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>